<div class="background-img"></div>

<div class="col text-center" style="margin-left: 37vw;">
  <div class="row">
    <div class="col-3 form-container">
      <div class="row list-group boxShadow" style="margin-top: -1px">
        <div class="list-group-item header-title">
          Beacon Proplus
        </div>
      </div>
      <!-- Inner Form -->
      <form class="row text-center" #f="ngForm" (ngSubmit)="login(f)">
        <div class="form-group col-10 offset-1 mt-4">
          <label for="exampleInputEmail1">Email address</label>
          <input required name="email" [(ngModel)]="model.email" type="email" class="form-control"
            id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Login to see Proplus tools and more.</small>
        </div>
        <div class="form-group col-10 offset-1">
          <label for="exampleInputPassword1">Password</label>
          <input required name="password" [(ngModel)]="model.password" type="password" class="form-control"
            id="exampleInputPassword1" autocomplete="false">
        </div>
        <div class="form-group form-check col-10 offset-1">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Remember me</label>
        </div>
        <div class="col-10 offset-1 mt-1">
          <button type="submit" class="btn btn-primary btn-block">Go to Proplus</button>
        </div>

        <div class="col-10 offset-1 mt-2">
          <small><a class="mr-2" routerLink="">Sign Up!</a> | <a class="ml-2" routerLink="">Forgot Password</a></small>
        </div>
      </form>

    </div>
  </div>
</div>