/* You can add global styles to this file, and also import other style files */
h5.section-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: solid 2px #cac9c9;
  color: #025f9e;
}
